@{
    ViewData["Title"] = "Course List";
}

<h2> Courses </h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Course</a>
</p>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th> Id </th>
            <th> Course Title </th>
            <th> Course Description </th>
            <th> Credits </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.Credits</td>
                <td>
                    <a asp-action="Details" asp-route-itemid="@course.Id" class="btn btn-info btn-sm"> Details </a>
                    <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>